//VARIABLES 
$teal: rgb(9, 219, 132); 
$light-teal: rgb(167, 255, 218);
$question1: 'What is your name? ';
$answer2: 'I think your name is Mike, would I be right in saying that?';
* {
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 

}

body {
    counter-reset: hi;
}

h2::before {
    counter-increment: hi;
    content: "Section" counter(hi) ": ";
    color: red; 
}